name: Render movie

on: [push]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install apt dependencies
      run: |
        sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++ ffmpeg texlive-latex-extra
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        cache: 'pip'
    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install manim-editor #Temporary, install here as it
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Lint (ruff)
      run: |
        script/lint
    - name: Tests (unittest)
      run: |
        script/test
