name: Render movie
on:
  push:
    branches:
      - '*'
      - '!main'
permissions:
  contents: read
jobs:
  render_lq:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install apt dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libcairo2-dev libjpeg8-dev libpango1.0-dev libgif-dev build-essential g++ ffmpeg texlive-latex-extra --fix-missing
    - name: Install fonts
      run: |
        mkdir ~/texmf
        curl -L -o ~/texmf/mnsymbol.zip https://mirrors.ctan.org/fonts/mnsymbol.zip
        unzip ~/texmf/mnsymbol.zip -d ~/texmf
        cd ~/texmf/mnsymbol/tex && ls && latex MnSymbol.ins
        mkdir -p ~/texmf/tex/latex/MnSymbol/
        cp ~/texmf/mnsymbol/tex/MnSymbol.sty ~/texmf/tex/latex/MnSymbol/
        mkdir -p ~/texmf/fonts/tfm/public/MnSymbol
        cp ~/texmf/mnsymbol/tfm/* ~/texmf/fonts/tfm/public/MnSymbol
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        cache: 'pip'
    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install manim-editor # Temporary, install here as it
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Render movie (manim) 
      run: |
        python -m manim -v WARNING -ql -r 9x16 --disable_caching zkmarek/video/main.py

    - uses: actions/upload-artifact@v3
      with:
        name: Movie LQ
        path: media/videos/main/480p15/EllipticCurves.mp4
        retention-days: 5

